<!-- <app-autocomplete></app-autocomplete>
<app-tabs></app-tabs> -->

<!-- <app-pagination></app-pagination> -->

<!-- <app-table></app-table> -->

<!-- <app-auto-complete></app-auto-complete> -->

<!-- <app-bottom-sheet></app-bottom-sheet> -->

<!-- <app-checkbox></app-checkbox> -->

<!-- <app-select></app-select> -->

<!-- <app-form-data></app-form-data> -->

<!-- <app-file-upload></app-file-upload> -->

<!-- <app-sort-data></app-sort-data> -->

<!-- <app-dialog></app-dialog> -->

<!-- <app-excel></app-excel> -->

<!-- <app-excel2></app-excel2> -->

<!-- <app-import-excel></app-import-excel> -->

<!-- <app-pdf></app-pdf> -->

<!-- <app-chart></app-chart> -->

<!-- <app-moment></app-moment> -->

<!-- <app-form-array></app-form-array> -->

<!-- <app-combine-latest></app-combine-latest> -->

<!-- <app-get-data></app-get-data> -->

<!-- <app-epansion-panel></app-epansion-panel> -->

<!-- <app-change-detection></app-change-detection> -->

<!-- <app-tab></app-tab> -->

<app-drag-drop></app-drag-drop>
